check-up_IoT_application_flow.json
[{"id":"d907cfe0.5fcad","type":"ibmiot in","z":"3bc34935.040786","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"555","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":200,"y":560,"wires":[["8978e568.66d3d8","dcae2a7d.6d20b8","4a76bde5.070a24"]]},{"id":"dcae2a7d.6d20b8","type":"switch","z":"3bc34935.040786","name":"Check body_temp","property":"payload.d.body_temp","propertyType":"msg","rules":[{"t":"gt","v":"37.5","vt":"num"},{"t":"lt","v":"35.0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":490,"y":480,"wires":[["f7adf932.0011b8"],["9cd9e5c4.7cb398"],["be8432cc.c40a"]]},{"id":"e62ef403.358df8","type":"debug","z":"3bc34935.040786","name":"cpu status","active":true,"tosidebar":true,"complete":"false","x":910,"y":480,"wires":[]},{"id":"8978e568.66d3d8","type":"debug","z":"3bc34935.040786","name":"device data","active":true,"tosidebar":true,"console":false,"complete":"true","x":210,"y":660,"wires":[]},{"id":"f7adf932.0011b8","type":"template","z":"3bc34935.040786","name":"Fever","field":"payload","fieldType":"msg","syntax":"mustache","template":"Body Temperature ({{payload.d.body_temp}}) is critical. You have Fever!!. Please visit hospital.","x":670,"y":440,"wires":[["e62ef403.358df8"]]},{"id":"9cd9e5c4.7cb398","type":"template","z":"3bc34935.040786","name":"Hypothermia","field":"payload","fieldType":"msg","syntax":"mustache","template":"Body Temperature ({{payload.d.body_temp}}) is critical. You have Hypothermia!!. Please visit hospital.","x":690,"y":480,"wires":[["e62ef403.358df8"]]},{"id":"1656d6fb.2fa849","type":"ibmiot out","z":"3bc34935.040786","authentication":"quickstart","apiKey":"12d8fb0e.192585","outputType":"evt","deviceId":"555","deviceType":"0.20.5","eventCommandType":"update","format":"json","data":"temp:10","qos":"","name":"Send to IBM IoT Platform","service":"quickstart","x":650,"y":280,"wires":[]},{"id":"febb8ae8.6b3d98","type":"inject","z":"3bc34935.040786","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":180,"y":280,"wires":[["8a70ccc5.b1586"]]},{"id":"8a70ccc5.b1586","type":"function","z":"3bc34935.040786","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\ndic = Math.floor(Math.random() * 9) + 0;\ndic10 = dic/10;\ntemp = Math.floor(Math.random() * (38 - 36 + 1)) + 36;\n\n\nheart_pulse = Math.floor(Math.random() * (180 - 50 + 1)) + 50;\n\nbody_temp = temp+dic10\n\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"body_temp\" : body_temp,\n        \"heart_pulse\" : heart_pulse,\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":280,"wires":[["1656d6fb.2fa849","c6bd2765.25f8e8"]]},{"id":"c6bd2765.25f8e8","type":"debug","z":"3bc34935.040786","name":"Debug output payload","active":true,"tosidebar":true,"console":false,"complete":"payload","x":640,"y":340,"wires":[]},{"id":"da4d2b2d.278088","type":"comment","z":"3bc34935.040786","name":"Device Simulator","info":"Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)","x":180,"y":200,"wires":[]},{"id":"a8f81b68.673ab8","type":"comment","z":"3bc34935.040786","name":"1. Configure target","info":"","x":630,"y":240,"wires":[]},{"id":"31f5f887.4fed68","type":"comment","z":"3bc34935.040786","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":190,"y":320,"wires":[]},{"id":"4a3961a7.1f642","type":"comment","z":"3bc34935.040786","name":"Monitor","info":"","x":150,"y":460,"wires":[]},{"id":"3585829d.5cc70e","type":"comment","z":"3bc34935.040786","name":"Configure source","info":"","x":180,"y":520,"wires":[]},{"id":"85aff92d.6db4c8","type":"debug","z":"3bc34935.040786","name":"cpu status","active":true,"complete":"false","x":850,"y":620,"wires":[]},{"id":"be8432cc.c40a","type":"template","z":"3bc34935.040786","name":"safe","field":"payload","fieldType":"msg","syntax":"mustache","template":"Body Temperature ({{payload.d.body_temp}}) within safe limits\n\n","x":670,"y":520,"wires":[["e62ef403.358df8"]]},{"id":"4a76bde5.070a24","type":"switch","z":"3bc34935.040786","name":"Check heart pulse","property":"payload.d.heart_pulse","propertyType":"msg","rules":[{"t":"gt","v":"150","vt":"num"},{"t":"lt","v":"60","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":490,"y":620,"wires":[["2fd58947.5268a6"],["45084f3.ca6bdb"],["318cd434.e20bac"]]},{"id":"2fd58947.5268a6","type":"template","z":"3bc34935.040786","name":"danger","field":"payload","fieldType":"msg","syntax":"mustache","template":"Your heart pulse ({{payload.d.heart_pulse}}) is critical. It's higher than normal!. Please visit the hospital.","x":680,"y":580,"wires":[["85aff92d.6db4c8"]]},{"id":"45084f3.ca6bdb","type":"template","z":"3bc34935.040786","name":"danger","field":"payload","fieldType":"msg","syntax":"mustache","template":"Your heart pulse ({{payload.d.heart_pulse}}) is critical. It's lower than normal!. Please visit the hospital.","x":680,"y":620,"wires":[["85aff92d.6db4c8"]]},{"id":"318cd434.e20bac","type":"template","z":"3bc34935.040786","name":"safe","field":"payload","fieldType":"msg","syntax":"mustache","template":"Your heart pulse ({{payload.d.heart_pulse}}) within safe limits.\n","x":670,"y":660,"wires":[["85aff92d.6db4c8"]]},{"id":"12d8fb0e.192585","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"sliksl.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"MyApp-EE690","shared":false}]
