Node_RED_Raspberry_Pi_flow
[{"id":"77bcd7f3.167ba8","type":"rpi-gpio out","z":"364675a1.6d3b7a","name":"","pin":"36","set":"","level":"0","freq":"","out":"out","x":720,"y":280,"wires":[]},{"id":"c03ba44.d94e058","type":"change","z":"364675a1.6d3b7a","name":"relay1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.relay1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":280,"wires":[["77bcd7f3.167ba8"]]},{"id":"dd4d1af1.7d5758","type":"change","z":"364675a1.6d3b7a","name":"relay2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.relay2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":360,"wires":[["2dc806e6.8d8c8a"]]},{"id":"2dc806e6.8d8c8a","type":"rpi-gpio out","z":"364675a1.6d3b7a","name":"","pin":"38","set":"","level":"0","freq":"","out":"out","x":720,"y":360,"wires":[]},{"id":"62495753.be61a8","type":"rpi-gpio out","z":"364675a1.6d3b7a","name":"","pin":"40","set":"","level":"0","freq":"","out":"out","x":720,"y":440,"wires":[]},{"id":"7f6723ed.ed8f5c","type":"rpi-gpio out","z":"364675a1.6d3b7a","name":"","pin":"37","set":"","level":"0","freq":"","out":"out","x":720,"y":520,"wires":[]},{"id":"e7c521d0.c98d","type":"change","z":"364675a1.6d3b7a","name":"relay4","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.relay4","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":520,"wires":[["7f6723ed.ed8f5c"]]},{"id":"250401e7.de6fce","type":"change","z":"364675a1.6d3b7a","name":"relay3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.relay3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":440,"wires":[["62495753.be61a8"]]},{"id":"1fc2c0e3.355d0f","type":"switch","z":"364675a1.6d3b7a","name":"relay4","property":"payload.relay4","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":460,"wires":[["e7c521d0.c98d"]]},{"id":"9f700e32.82708","type":"switch","z":"364675a1.6d3b7a","name":"relay3","property":"payload.relay3","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":420,"wires":[["250401e7.de6fce"]]},{"id":"10b73bcc.d787f4","type":"switch","z":"364675a1.6d3b7a","name":"relay2","property":"payload.relay2","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":380,"wires":[["dd4d1af1.7d5758"]]},{"id":"3297a242.951a6e","type":"switch","z":"364675a1.6d3b7a","name":"relay1","property":"payload.relay1","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":340,"wires":[["c03ba44.d94e058"]]},{"id":"9db3ad03.f670b","type":"wiotp in","z":"364675a1.6d3b7a","authType":"d","deviceKey":"b80f144.0d9b3e8","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"","x":110,"y":400,"wires":[["3297a242.951a6e","10b73bcc.d787f4","9f700e32.82708","1fc2c0e3.355d0f","a8d5428.b5491c"]]},{"id":"a8d5428.b5491c","type":"debug","z":"364675a1.6d3b7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":150,"y":180,"wires":[]},{"id":"b80f144.0d9b3e8","type":"wiotp-credentials","z":"","name":"","org":"gc1ij7","serverName":"gc1ij7.messaging.internetofthings.ibmcloud.com","devType":"Relay","devId":"Meshaal1234","keepalive":"60","cleansession":true,"tls":"2854d065.babfd","usetls":false},{"id":"2854d065.babfd","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]
