Node_RED_IBM_Cloud_flow
[{"id":"b8b485af.097068","type":"ibmiot out","z":"2998c980.7fc496","authentication":"apiKey","apiKey":"dca08c58.4f665","outputType":"cmd","deviceId":"Meshaal1234","deviceType":"Relay","eventCommandType":"gpio","format":"json","data":"mesh","qos":0,"name":"IBM IoT","service":"registered","x":840,"y":380,"wires":[]},{"id":"fbb2a7c3.5b7628","type":"inject","z":"2998c980.7fc496","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["74e9d10d.6bd35"]]},{"id":"1d495b75.4d8cf5","type":"function","z":"2998c980.7fc496","name":"relay 1 to 4","func":"msg.payload = {relay1 : msg.payload , relay2 : msg.payload, relay3 : msg.payload, relay4 : msg.payload }\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["b8b485af.097068"]]},{"id":"271edbda.dfb8f4","type":"inject","z":"2998c980.7fc496","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["4204500e.18adb"]]},{"id":"f121c8e5.151648","type":"function","z":"2998c980.7fc496","name":"relay 1","func":"msg.payload = {relay1 : msg.payload  }\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":240,"wires":[["b8b485af.097068"]]},{"id":"c60a051e.1ee1a8","type":"inject","z":"2998c980.7fc496","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":260,"wires":[["55bce42e.3ee4ac"]]},{"id":"3a61633e.72f7ac","type":"inject","z":"2998c980.7fc496","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":220,"wires":[["cb422789.7c4728"]]},{"id":"6071325b.e9bd5c","type":"function","z":"2998c980.7fc496","name":"relay 2","func":"msg.payload = {relay2 : msg.payload }\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":360,"wires":[["b8b485af.097068"]]},{"id":"ab2296ea.46cf68","type":"inject","z":"2998c980.7fc496","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":380,"wires":[["9b0e5fa1.238ce"]]},{"id":"ec4c6d38.6f159","type":"inject","z":"2998c980.7fc496","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":340,"wires":[["8c1db7d0.fb9e18"]]},{"id":"b0b98cd9.1d519","type":"function","z":"2998c980.7fc496","name":"relay 3","func":"msg.payload = {relay3 : msg.payload }\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":480,"wires":[["b8b485af.097068"]]},{"id":"71b50d5f.8506e4","type":"inject","z":"2998c980.7fc496","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":500,"wires":[["bd9d05f.6169df8"]]},{"id":"744cb49b.8bad0c","type":"inject","z":"2998c980.7fc496","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":460,"wires":[["e41e82a5.d544e"]]},{"id":"23c3a5c0.55790a","type":"function","z":"2998c980.7fc496","name":"relay 4","func":"msg.payload = {relay4 : msg.payload }\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":600,"wires":[["b8b485af.097068"]]},{"id":"5162dbb5.812974","type":"inject","z":"2998c980.7fc496","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":620,"wires":[["2782b06d.990f2"]]},{"id":"966208e4.5d4208","type":"inject","z":"2998c980.7fc496","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":580,"wires":[["4a74473.d2c02b8"]]},{"id":"74e9d10d.6bd35","type":"ui_button","z":"2998c980.7fc496","name":"","group":"d2bfe716.543188","order":2,"width":0,"height":0,"passthru":false,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":330,"y":100,"wires":[["1d495b75.4d8cf5"]]},{"id":"4204500e.18adb","type":"ui_button","z":"2998c980.7fc496","name":"","group":"d2bfe716.543188","order":1,"width":0,"height":0,"passthru":true,"label":"Open","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":330,"y":140,"wires":[["1d495b75.4d8cf5"]]},{"id":"4a74473.d2c02b8","type":"ui_button","z":"2998c980.7fc496","name":"","group":"e10b63fd.b682c","order":2,"width":0,"height":0,"passthru":false,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":330,"y":580,"wires":[["23c3a5c0.55790a"]]},{"id":"2782b06d.990f2","type":"ui_button","z":"2998c980.7fc496","name":"","group":"e10b63fd.b682c","order":1,"width":0,"height":0,"passthru":false,"label":"Open","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":330,"y":620,"wires":[["23c3a5c0.55790a"]]},{"id":"e41e82a5.d544e","type":"ui_button","z":"2998c980.7fc496","name":"","group":"c87a7a9d.cc8e68","order":2,"width":0,"height":0,"passthru":false,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":330,"y":460,"wires":[["b0b98cd9.1d519"]]},{"id":"bd9d05f.6169df8","type":"ui_button","z":"2998c980.7fc496","name":"","group":"c87a7a9d.cc8e68","order":1,"width":0,"height":0,"passthru":false,"label":"Open","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":330,"y":500,"wires":[["b0b98cd9.1d519"]]},{"id":"8c1db7d0.fb9e18","type":"ui_button","z":"2998c980.7fc496","name":"","group":"e9fac8d2.5e6d48","order":2,"width":0,"height":0,"passthru":false,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":330,"y":340,"wires":[["6071325b.e9bd5c"]]},{"id":"9b0e5fa1.238ce","type":"ui_button","z":"2998c980.7fc496","name":"","group":"e9fac8d2.5e6d48","order":1,"width":0,"height":0,"passthru":false,"label":"Open","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":330,"y":380,"wires":[["6071325b.e9bd5c"]]},{"id":"55bce42e.3ee4ac","type":"ui_button","z":"2998c980.7fc496","name":"","group":"d3d288c6.612768","order":0,"width":0,"height":0,"passthru":true,"label":"Open","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":330,"y":260,"wires":[["f121c8e5.151648"]]},{"id":"cb422789.7c4728","type":"ui_button","z":"2998c980.7fc496","name":"","group":"d3d288c6.612768","order":0,"width":0,"height":0,"passthru":false,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":330,"y":220,"wires":[["f121c8e5.151648"]]},{"id":"dca08c58.4f665","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"gc1ij7.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"d2bfe716.543188","type":"ui_group","z":"","name":"All Relays","tab":"3ae605fa.f58eaa","order":5,"disp":true,"width":"6","collapse":false},{"id":"e10b63fd.b682c","type":"ui_group","z":"","name":"Relay 4","tab":"3ae605fa.f58eaa","order":4,"disp":true,"width":"6","collapse":false},{"id":"c87a7a9d.cc8e68","type":"ui_group","z":"","name":"Relay 3","tab":"3ae605fa.f58eaa","order":3,"disp":true,"width":"6","collapse":false},{"id":"e9fac8d2.5e6d48","type":"ui_group","z":"","name":"Relay 2","tab":"3ae605fa.f58eaa","order":2,"disp":true,"width":"6","collapse":false},{"id":"d3d288c6.612768","type":"ui_group","z":"","name":"Relay 1","tab":"3ae605fa.f58eaa","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ae605fa.f58eaa","type":"ui_tab","z":"","name":"IoT","icon":"dashboard","order":1}]
