Node_RED_IBM_Cloud_flow
[{"id":"176d983b.abd6c8","type":"ibmiot out","z":"75204a5b.3e35d4","authentication":"apiKey","apiKey":"dca08c58.4f665","outputType":"cmd","deviceId":"Meshaal1234","deviceType":"Relay","eventCommandType":"gpio","format":"json","data":"mesh","qos":0,"name":"IBM IoT","service":"registered","x":780,"y":380,"wires":[]},{"id":"89e8d65a.a80d98","type":"inject","z":"75204a5b.3e35d4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["8dce445c.75fe58"]]},{"id":"fc8742c4.08004","type":"function","z":"75204a5b.3e35d4","name":"relay 1 to 4","func":"msg.payload = {relay1 : msg.payload , relay2 : msg.payload, relay3 : msg.payload, relay4 : msg.payload }\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["176d983b.abd6c8","48b9cd70.c0d6d4"]]},{"id":"f74dbb04.4cdc68","type":"inject","z":"75204a5b.3e35d4","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["8777a6aa.a24f38"]]},{"id":"c1041b95.dccaf8","type":"function","z":"75204a5b.3e35d4","name":"relay 1","func":"msg.payload = {relay1 : msg.payload  }\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["176d983b.abd6c8"]]},{"id":"aaed2b39.9e3448","type":"inject","z":"75204a5b.3e35d4","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["4d3e3481.2c439c"]]},{"id":"a4168ba0.5b0748","type":"inject","z":"75204a5b.3e35d4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["6c9a1851.bae918"]]},{"id":"2ab79449.6dafdc","type":"function","z":"75204a5b.3e35d4","name":"relay 2","func":"msg.payload = {relay2 : msg.payload }\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":360,"wires":[["176d983b.abd6c8"]]},{"id":"8bb5b40a.9e2348","type":"inject","z":"75204a5b.3e35d4","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["937cf60.8034108"]]},{"id":"235d6105.9ac65e","type":"inject","z":"75204a5b.3e35d4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["4353db7.86f7b24"]]},{"id":"f0eaccb0.13b0b","type":"function","z":"75204a5b.3e35d4","name":"relay 3","func":"msg.payload = {relay3 : msg.payload }\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":480,"wires":[["176d983b.abd6c8"]]},{"id":"4eadd53a.e574fc","type":"inject","z":"75204a5b.3e35d4","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":500,"wires":[["a2c61466.c31638"]]},{"id":"a2430e38.664df","type":"inject","z":"75204a5b.3e35d4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":460,"wires":[["7db6d03b.825ca"]]},{"id":"eb7b820f.3ee32","type":"function","z":"75204a5b.3e35d4","name":"relay 4","func":"msg.payload = {relay4 : msg.payload }\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":600,"wires":[["176d983b.abd6c8"]]},{"id":"fc629b6a.b80558","type":"inject","z":"75204a5b.3e35d4","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":620,"wires":[["ec426295.d79c6"]]},{"id":"5fad6892.094718","type":"inject","z":"75204a5b.3e35d4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":580,"wires":[["5426f4bd.e9ff6c"]]},{"id":"8dce445c.75fe58","type":"ui_button","z":"75204a5b.3e35d4","name":"","group":"d2bfe716.543188","order":2,"width":0,"height":0,"passthru":true,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":270,"y":100,"wires":[["fc8742c4.08004"]]},{"id":"8777a6aa.a24f38","type":"ui_button","z":"75204a5b.3e35d4","name":"","group":"d2bfe716.543188","order":1,"width":0,"height":0,"passthru":true,"label":"Open","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":270,"y":140,"wires":[["fc8742c4.08004"]]},{"id":"5426f4bd.e9ff6c","type":"ui_button","z":"75204a5b.3e35d4","name":"","group":"e10b63fd.b682c","order":2,"width":0,"height":0,"passthru":true,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":270,"y":580,"wires":[["eb7b820f.3ee32"]]},{"id":"ec426295.d79c6","type":"ui_button","z":"75204a5b.3e35d4","name":"","group":"e10b63fd.b682c","order":1,"width":0,"height":0,"passthru":false,"label":"Open","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":270,"y":620,"wires":[["eb7b820f.3ee32"]]},{"id":"7db6d03b.825ca","type":"ui_button","z":"75204a5b.3e35d4","name":"","group":"c87a7a9d.cc8e68","order":2,"width":0,"height":0,"passthru":true,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":270,"y":460,"wires":[["f0eaccb0.13b0b"]]},{"id":"a2c61466.c31638","type":"ui_button","z":"75204a5b.3e35d4","name":"","group":"c87a7a9d.cc8e68","order":1,"width":0,"height":0,"passthru":false,"label":"Open","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":270,"y":500,"wires":[["f0eaccb0.13b0b"]]},{"id":"4353db7.86f7b24","type":"ui_button","z":"75204a5b.3e35d4","name":"","group":"e9fac8d2.5e6d48","order":2,"width":0,"height":0,"passthru":true,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":270,"y":340,"wires":[["2ab79449.6dafdc"]]},{"id":"937cf60.8034108","type":"ui_button","z":"75204a5b.3e35d4","name":"","group":"e9fac8d2.5e6d48","order":1,"width":0,"height":0,"passthru":false,"label":"Open","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":270,"y":380,"wires":[["2ab79449.6dafdc"]]},{"id":"4d3e3481.2c439c","type":"ui_button","z":"75204a5b.3e35d4","name":"","group":"d3d288c6.612768","order":0,"width":0,"height":0,"passthru":true,"label":"Open","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":270,"y":260,"wires":[["c1041b95.dccaf8"]]},{"id":"6c9a1851.bae918","type":"ui_button","z":"75204a5b.3e35d4","name":"","group":"d3d288c6.612768","order":0,"width":0,"height":0,"passthru":true,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":270,"y":220,"wires":[["c1041b95.dccaf8"]]},{"id":"48b9cd70.c0d6d4","type":"debug","z":"75204a5b.3e35d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":160,"wires":[]},{"id":"dca08c58.4f665","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"gc1ij7.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"d2bfe716.543188","type":"ui_group","z":"","name":"All Relays","tab":"3ae605fa.f58eaa","order":5,"disp":true,"width":"6","collapse":false},{"id":"e10b63fd.b682c","type":"ui_group","z":"","name":"Relay 4","tab":"3ae605fa.f58eaa","order":4,"disp":true,"width":"6","collapse":false},{"id":"c87a7a9d.cc8e68","type":"ui_group","z":"","name":"Relay 3","tab":"3ae605fa.f58eaa","order":3,"disp":true,"width":"6","collapse":false},{"id":"e9fac8d2.5e6d48","type":"ui_group","z":"","name":"Relay 2","tab":"3ae605fa.f58eaa","order":2,"disp":true,"width":"6","collapse":false},{"id":"d3d288c6.612768","type":"ui_group","z":"","name":"Relay 1","tab":"3ae605fa.f58eaa","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ae605fa.f58eaa","type":"ui_tab","z":"","name":"IoT","icon":"dashboard","order":1}]
