real-time_analyze_image_flow.json
[{"id":"9c183e0e.e4c49","type":"tab","label":"Visual Recognition","disabled":false,"info":""},{"id":"16bed3c2.0e6a0c","type":"debug","z":"9c183e0e.e4c49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":200,"wires":[]},{"id":"db3d2089.aaae4","type":"visual-recognition-v3","z":"9c183e0e.e4c49","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":210,"y":300,"wires":[["da2f4e34.15d17","8ea5c89f.861798"]]},{"id":"da2f4e34.15d17","type":"debug","z":"9c183e0e.e4c49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"result.images","x":210,"y":360,"wires":[]},{"id":"b3963365.55249","type":"ui_button","z":"9c183e0e.e4c49","name":"","group":"36a616f2.b75b9a","order":1,"width":0,"height":0,"passthru":true,"label":"Take Picture","color":"","bgcolor":"","icon":"","payload":"m","payloadType":"str","topic":"","x":190,"y":200,"wires":[["9e0d5f80.4aaa"]]},{"id":"db27fb65.623d88","type":"ui_template","z":"9c183e0e.e4c49","group":"36a616f2.b75b9a","name":"","order":2,"width":"14","height":"13","format":"\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":360,"wires":[[]]},{"id":"f8037721.6d1318","type":"function","z":"9c183e0e.e4c49","name":"faces","func":"\nvar arrange = msg.result.images[0].faces;\n\nvar sortable = [];\nfor (var face in arrange) {\n    sortable.push([arrange[face]]);\n}\n\nsortable.sort(function(a, b) {\n    return a[0].face_location.left - b[0].face_location.left;\n});\nvar sortablem = [];\nfor (var face in sortable) {\n    sortablem.push(sortable[face][0]);\n}\n\n\n\nmsg.new= sortablem;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["61837085.ee576","b309dc55.60247"]]},{"id":"61837085.ee576","type":"debug","z":"9c183e0e.e4c49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":220,"wires":[]},{"id":"b309dc55.60247","type":"template","z":"9c183e0e.e4c49","name":"Report faces via HTML template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Visual Recognition Image Analysis</h1>\n\n    <img align=\"middle\" width=\"720px\" height=\"540px\" src=\"data:image/jpg;base64,{{{payload}}}\">\n    <table border='1'>\n        <thead><tr><th>Age Range</th><th>Confidence</th><th>Gender</th><th>Confidence</th></tr></thead>\n        {{#new}}<tr>\n            <td><b>{{age.min}} - {{age.max}}</b></td><td><i>{{age.score}}</i></td>\n            <td>{{gender.gender}}</td><td>{{gender.score}}</td>\n            \n        </tr>{{/new}}\n    </table>\n  \n    ","x":510,"y":360,"wires":[["db27fb65.623d88"]]},{"id":"9e0d5f80.4aaa","type":"vtjbot-see","z":"9c183e0e.e4c49","botId":"52ba7ec1.3f757","mode":"takephoto","returnOnPayload":true,"width":960,"height":720,"name":"","x":390,"y":200,"wires":[["16bed3c2.0e6a0c","db3d2089.aaae4"]]},{"id":"8ea5c89f.861798","type":"base64","z":"9c183e0e.e4c49","name":"","action":"str","property":"payload","x":440,"y":280,"wires":[["f8037721.6d1318"]]},{"id":"36a616f2.b75b9a","type":"ui_group","z":"","name":"Group 1","tab":"b663a63d.765438","order":1,"disp":false,"width":"14","collapse":false},{"id":"52ba7ec1.3f757","type":"vtjbot-config","z":"","botGender":"male","name":"","listen":"en-US","speak":"en-US","hasServo":false,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true},{"id":"b663a63d.765438","type":"ui_tab","z":"","name":"Visual Recognition","icon":"dashboard","order":4,"disabled":false,"hidden":false}]
