visual_recognition_flow.json
[{"id":"50c57847.b6aca8","type":"tab","label":"Visual Recognition","disabled":false,"info":""},{"id":"240bea4b.260f86","type":"function","z":"50c57847.b6aca8","name":"Process results","func":"result=[];\nmsg.result.images[0].classifiers.forEach(function(current_value, index, initial_array) {\n          current_value.classes.forEach(function(current_value,index,initial_array){\n              result.push(current_value.class);\n          });\n        });\nmsg.verbal=result.toString();\nmsg.verbal2={\"result\":result};\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":400,"wires":[["37d6ba17.d60ac6","e9551f95.00f13"]]},{"id":"844965e3.ce0b58","type":"http in","z":"50c57847.b6aca8","name":"","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":310,"y":60,"wires":[["e941fe92.1d007"]]},{"id":"e941fe92.1d007","type":"template","z":"50c57847.b6aca8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n<html>\n    \n    <head>\n    <style>\nbody, html {\n  background-color: #e8e8e8;\n  width: 100%;\n  height: 100%;\n  margin: 0 auto;\n  font-family: \"HelveticaNeue-Light\", \"Helvetica Neue Light\", \"Helvetica Neue\", Helvetica, Arial, \"Lucida Grande\", sans-serif;\n  color: #000;\n}\n\n.content {\n  padding-left: 5vw;\n  padding-right: 5vw;\n}\n\n.header {\n  background-color: #785589;\n  padding-top: 5vh;\n  padding-left: 5vw;\n  padding-bottom: 2vh;\n  margin-bottom: 2vh;\n  box-shadow: 0px 1px 5px 2px #785589;\n}\n\n.title {\n  color: #fff;\n  font-size: calc(34pt + 1.5vw);\n}\n\n.uploadedImages {\n  display: flex;\n  align-items: flex-start;\n  flex-direction: row;\n  flex-wrap: wrap;\n  padding-left: 5vw;\n}\n\n.uploadedImage {\n  height: auto;\n  max-width: 300px;\n}\n\n.imageHolder {\n  text-align: center;\n}\n\n.imageSection {\n  padding: 25px;\n  margin-right: 25px;\n  margin-bottom: 25px;\n  max-width: 300px;\n  background-color: #a98ca4;\n  border-radius: 15px;\n  box-shadow: 0px 1px 10px 0px #a98ca4;\n}\n\n.imageLabels {\n  display: flex;\n  flex-wrap: wrap;\n}\n\n.imageLabel {\n  padding: 3px;\n  margin: 3px;\n  background: #cda9a9;\n  color: #000;\n  font-size: 12pt;\n  border-radius: 6px;\n}\n\n.uploadSection {\n  /* display: flex; */\n  /* align-items: center;\n  flex-wrap: wrap;\n  max-width: 500px;\n  border: 1px solid;\n  border-radius: 20px;\n  margin-bottom: 2vh; */\n  padding-left: 5vw;\n}\n\n.uploadForm {\n  display: flex;\n  flex-direction: column;\n  align-items: flex-start;\n  max-width: 500px;\n  padding: 10px;\n}\n\n.selectImage {\n  width: 500px;\n  font-size: 12pt;\n  margin-bottom: 10px;\n}\n\n.uploadImage {\n  font-size: 12pt;\n  -webkit-border-radius: 28;\n  -moz-border-radius: 28;\n  border-radius: 28px;\n  color: #ffffff;\n  background: #c29fa0;\n  box-shadow: none;\n  border: 1px solid;\n  border-color: #c29fa0;\n  padding: 10px 20px 10px 20px;\n}\n\n.uploadImage:hover {\n  background: #ffffff;\n  color: #cda9a9;\n  border: 1px solid;\n  /* background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);\n  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);\n  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);\n  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);\n  background-image: linear-gradient(to bottom, #3cb0fd, #3498db); */\n}\n\n.uploadImage:active {\n  background: #cda9a9;\n  color: #fff;\n  border: 1px solid;\n  border-color: #c29fa0;\n  /* background-image: -webkit-linear-gradient(top, #3cb0dd, #3cb0dd);\n  background-image: -moz-linear-gradient(top, #3cb0dd, #3cb0dd);\n  background-image: -ms-linear-gradient(top, #3cb0dd, #3cb0dd);\n  background-image: -o-linear-gradient(top, #3cb0dd, #3cb0dd);\n  background-image: linear-gradient(to bottom, #3cb0dd, #3cb0dd); */\n}\n\n\n</style>\n</head>\n\n    <body>\n        \n        <!-- Header -->\n  <div class=\"header\">\n    <div class=\"title\">\n      Upload an image:\n    </div>\n  </div>\n\n\n<center>\n\n    <div class=\"uploadSection\">\n<form action=\"/uploadsimple_post\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input class=\"selectImage\" type=\"file\" name=\"myFile\" accept=\"image/*\" />\n    <input class=\"uploadImage\" type=\"submit\" value=\"Upload\">\n</form>\n</div>\n</center>\n       \n       <script>\n  \n\n// getDocumentWithId(\"0724dabd80bc2102e8e5e1f9fdbb3a60\",0);\n  \n  \n</script>\n<script src=\"https://raw.githubusercontent.com/IBM/ibm-cloud-functions-refarch-serverless-image-recognition/master/web/scripts/pouchdb-7.0.0.min.js\" type=\"text/plain\"></script>\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js\"></script>\n<script src=\"https://raw.githubusercontent.com/IBM/ibm-cloud-functions-refarch-serverless-image-recognition/master/web/scripts/loadImages.js\" type=\"text/plain\"></script>\n\n    </body>\n</html>","output":"str","x":480,"y":60,"wires":[["24e52a94.b62986"]]},{"id":"24e52a94.b62986","type":"http response","z":"50c57847.b6aca8","name":"","x":630,"y":60,"wires":[]},{"id":"6d9fc741.094b68","type":"http response","z":"50c57847.b6aca8","name":"","statusCode":"","headers":{},"x":650,"y":520,"wires":[]},{"id":"515e1e30.f8506","type":"template","z":"50c57847.b6aca8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    \n    <head>\n    <style>\nbody, html {\n  background-color: #e8e8e8;\n  width: 100%;\n  height: 100%;\n  margin: 0 auto;\n  font-family: \"HelveticaNeue-Light\", \"Helvetica Neue Light\", \"Helvetica Neue\", Helvetica, Arial, \"Lucida Grande\", sans-serif;\n  color: #000;\n}\n\n.content {\n  padding-left: 5vw;\n  padding-right: 5vw;\n}\n\n.header {\n  background-color: #785589;\n  padding-top: 5vh;\n  padding-left: 5vw;\n  padding-bottom: 2vh;\n  margin-bottom: 2vh;\n  box-shadow: 0px 1px 5px 2px #785589;\n}\n\n.title {\n  color: #fff;\n  font-size: calc(34pt + 1.5vw);\n}\n\n.uploadedImages {\n  display: flex;\n  align-items: flex-start;\n  flex-direction: row;\n  flex-wrap: wrap;\n  padding-left: 5vw;\n}\n\n.uploadedImage {\n  height: auto;\n  max-width: 300px;\n}\n\n.imageHolder {\n  text-align: center;\n}\n\n.imageSection {\n  padding: 25px;\n  margin-right: 25px;\n  margin-bottom: 25px;\n  max-width: fit-content;\n  background-color: #a98ca4;\n  border-radius: 15px;\n  box-shadow: 0px 1px 10px 0px #a98ca4;\n}\n\n.imageLabels {\n  display: flex;\n  flex-wrap: wrap;\n}\n\n.imageLabel {\n    \n    padding: 25px;\n    margin-right: 25px;\n    margin-bottom: 25px;\n    margin: 3px;\n    background: #cda9a9;\n    color: #000;\n    font-size: 12pt;\n    border-radius: 6px;\n    max-width: fit-content;\n}\n\n.uploadSection {\n  /* display: flex; */\n  /* align-items: center;\n  flex-wrap: wrap;\n  max-width: 500px;\n  border: 1px solid;\n  border-radius: 20px;\n  margin-bottom: 2vh; */\n  padding-left: 5vw;\n}\n\n.uploadForm {\n  display: flex;\n  flex-direction: column;\n  align-items: flex-start;\n  max-width: 500px;\n  padding: 10px;\n}\n\n.selectImage {\n  width: 500px;\n  font-size: 12pt;\n  margin-bottom: 10px;\n}\n\n.uploadImage {\n  font-size: 12pt;\n  -webkit-border-radius: 28;\n  -moz-border-radius: 28;\n  border-radius: 28px;\n  color: #ffffff;\n  background: #c29fa0;\n  box-shadow: none;\n  border: 1px solid;\n  border-color: #c29fa0;\n  padding: 10px 20px 10px 20px;\n}\n\n.uploadImage:hover {\n  background: #ffffff;\n  color: #cda9a9;\n  border: 1px solid;\n  /* background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);\n  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);\n  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);\n  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);\n  background-image: linear-gradient(to bottom, #3cb0fd, #3498db); */\n}\n\n.uploadImage:active {\n  background: #cda9a9;\n  color: #fff;\n  border: 1px solid;\n  border-color: #c29fa0;\n  /* background-image: -webkit-linear-gradient(top, #3cb0dd, #3cb0dd);\n  background-image: -moz-linear-gradient(top, #3cb0dd, #3cb0dd);\n  background-image: -ms-linear-gradient(top, #3cb0dd, #3cb0dd);\n  background-image: -o-linear-gradient(top, #3cb0dd, #3cb0dd);\n  background-image: linear-gradient(to bottom, #3cb0dd, #3cb0dd); */\n}\n\n.triggerLabel {\n    \n    \n    color: #d60000; \n}\n\n\n</style>\n</head>\n\n    <body>\n        \n        <!-- Header -->\n  <div class=\"header\">\n    <div class=\"title\">\n      Image Analysed!\n    </div>\n  </div>\n\n<center> \n<!-- Content of page -->\n  \n\n<pre class=\"imageSection\">\n    \n{{{payload}}}\n</pre>\n\n<h4>Classification results:</h4>\n\n\n    \n \n{{#verbal2}}\n<div class=\"imageLabel\">\n   <h >{{result}}</h> \n</div>\n\n{{/verbal2}}\n  \n<p class=\"imageLabel\">{{verbal}}</p>\n\n<h1 class=\"triggerLabel\">{{action}}</h1>\n</center>\n\n<script>\n</script>\n\n</body>\n</html>","output":"str","x":420,"y":520,"wires":[["6d9fc741.094b68"]]},{"id":"a37ea73f.db41c8","type":"function","z":"50c57847.b6aca8","name":"process image output","func":"if (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.payload.toString('base64')}\">`;\n} else {\n    msg.payload = msg.payload.toString();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":400,"wires":[["515e1e30.f8506","3a94d396.50500c"]]},{"id":"d401ae4c.6edb4","type":"http in","z":"50c57847.b6aca8","name":"","url":"/uploadsimple_post","method":"post","upload":true,"swaggerDoc":"","x":130,"y":200,"wires":[["fbd73719.543488"]]},{"id":"fbd73719.543488","type":"change","z":"50c57847.b6aca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":280,"wires":[["c78763d0.dc534"]]},{"id":"c78763d0.dc534","type":"visual-recognition-v3","z":"50c57847.b6aca8","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":370,"y":280,"wires":[["240bea4b.260f86","bb3962f6.7729d"]]},{"id":"37d6ba17.d60ac6","type":"function","z":"50c57847.b6aca8","name":"trigger action","func":"if (msg.verbal.includes(\"fire\")){\n    msg.action=\"Fire Detected:Triggering Fire rescue\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":400,"wires":[["a37ea73f.db41c8"]]},{"id":"3a94d396.50500c","type":"switch","z":"50c57847.b6aca8","name":"","property":"action","propertyType":"msg","rules":[{"t":"cont","v":"Fire","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":340,"wires":[["58397cab.9ded84"]]},{"id":"58397cab.9ded84","type":"function","z":"50c57847.b6aca8","name":"","func":"var msg;\nmsg.payload=\"1\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":340,"wires":[["98194ff5.d189c"]]},{"id":"98194ff5.d189c","type":"debug","z":"50c57847.b6aca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":280,"wires":[]},{"id":"bb3962f6.7729d","type":"debug","z":"50c57847.b6aca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":240,"wires":[]},{"id":"e9551f95.00f13","type":"debug","z":"50c57847.b6aca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":110,"y":460,"wires":[]}]
