visual_recognition_flow.json
[{"id":"ab1a8556.5b6168","type":"tab","label":"Visual Recognition","disabled":false,"info":""},{"id":"9499222f.24a4","type":"function","z":"ab1a8556.5b6168","name":"Process results","func":"result=[];\nmsg.result.images[0].classifiers.forEach(function(current_value, index, initial_array) {\n          current_value.classes.forEach(function(current_value,index,initial_array){\n              result.push(current_value.class);\n          });\n        });\nmsg.verbal=result.toString();\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":400,"wires":[["2547ddd7.d80472","c3760a40.eee828"]]},{"id":"3b981710.808e28","type":"http in","z":"ab1a8556.5b6168","name":"","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":310,"y":60,"wires":[["b9a1462d.86a7b8"]]},{"id":"b9a1462d.86a7b8","type":"template","z":"ab1a8556.5b6168","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n<html>\n    \n    <head>\n    <style>\nbody, html {\n  background-color: #e8e8e8;\n  width: 100%;\n  height: 100%;\n  margin: 0 auto;\n  font-family: \"HelveticaNeue-Light\", \"Helvetica Neue Light\", \"Helvetica Neue\", Helvetica, Arial, \"Lucida Grande\", sans-serif;\n  color: #000;\n}\n\n.content {\n  padding-left: 5vw;\n  padding-right: 5vw;\n}\n\n.header {\n  background-color: #785589;\n  padding-top: 5vh;\n  padding-left: 5vw;\n  padding-bottom: 2vh;\n  margin-bottom: 2vh;\n  box-shadow: 0px 1px 5px 2px #785589;\n}\n\n.title {\n  color: #fff;\n  font-size: calc(34pt + 1.5vw);\n}\n\n.uploadedImages {\n  display: flex;\n  align-items: flex-start;\n  flex-direction: row;\n  flex-wrap: wrap;\n  padding-left: 5vw;\n}\n\n.uploadedImage {\n  height: auto;\n  max-width: 300px;\n}\n\n.imageHolder {\n  text-align: center;\n}\n\n.imageSection {\n  padding: 25px;\n  margin-right: 25px;\n  margin-bottom: 25px;\n  max-width: 300px;\n  background-color: #a98ca4;\n  border-radius: 15px;\n  box-shadow: 0px 1px 10px 0px #a98ca4;\n}\n\n.imageLabels {\n  display: flex;\n  flex-wrap: wrap;\n}\n\n.imageLabel {\n  padding: 3px;\n  margin: 3px;\n  background: #cda9a9;\n  color: #000;\n  font-size: 12pt;\n  border-radius: 6px;\n}\n\n.uploadSection {\n  /* display: flex; */\n  /* align-items: center;\n  flex-wrap: wrap;\n  max-width: 500px;\n  border: 1px solid;\n  border-radius: 20px;\n  margin-bottom: 2vh; */\n  padding-left: 5vw;\n}\n\n.uploadForm {\n  display: flex;\n  flex-direction: column;\n  align-items: flex-start;\n  max-width: 500px;\n  padding: 10px;\n}\n\n.selectImage {\n  width: 500px;\n  font-size: 12pt;\n  margin-bottom: 10px;\n}\n\n.uploadImage {\n  font-size: 12pt;\n  -webkit-border-radius: 28;\n  -moz-border-radius: 28;\n  border-radius: 28px;\n  color: #ffffff;\n  background: #c29fa0;\n  box-shadow: none;\n  border: 1px solid;\n  border-color: #c29fa0;\n  padding: 10px 20px 10px 20px;\n}\n\n.uploadImage:hover {\n  background: #ffffff;\n  color: #cda9a9;\n  border: 1px solid;\n  /* background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);\n  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);\n  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);\n  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);\n  background-image: linear-gradient(to bottom, #3cb0fd, #3498db); */\n}\n\n.uploadImage:active {\n  background: #cda9a9;\n  color: #fff;\n  border: 1px solid;\n  border-color: #c29fa0;\n  /* background-image: -webkit-linear-gradient(top, #3cb0dd, #3cb0dd);\n  background-image: -moz-linear-gradient(top, #3cb0dd, #3cb0dd);\n  background-image: -ms-linear-gradient(top, #3cb0dd, #3cb0dd);\n  background-image: -o-linear-gradient(top, #3cb0dd, #3cb0dd);\n  background-image: linear-gradient(to bottom, #3cb0dd, #3cb0dd); */\n}\n\n\n</style>\n</head>\n\n    <body>\n        \n        <!-- Header -->\n  <div class=\"header\">\n    <div class=\"title\">\n      Upload an image:\n    </div>\n  </div>\n\n\n<center>\n\n    <div class=\"uploadSection\">\n<form action=\"/uploadsimple_post\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input class=\"selectImage\" type=\"file\" name=\"myFile\" accept=\"image/*\" />\n    <input class=\"uploadImage\" type=\"submit\" value=\"Upload\">\n</form>\n</div>\n</center>\n       \n       <script>\n  \n\n// getDocumentWithId(\"0724dabd80bc2102e8e5e1f9fdbb3a60\",0);\n  \n  \n</script>\n<script src=\"https://raw.githubusercontent.com/IBM/ibm-cloud-functions-refarch-serverless-image-recognition/master/web/scripts/pouchdb-7.0.0.min.js\" type=\"text/plain\"></script>\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js\"></script>\n<script src=\"https://raw.githubusercontent.com/IBM/ibm-cloud-functions-refarch-serverless-image-recognition/master/web/scripts/loadImages.js\" type=\"text/plain\"></script>\n\n    </body>\n</html>","output":"str","x":480,"y":60,"wires":[["38558b75.a0e134"]]},{"id":"38558b75.a0e134","type":"http response","z":"ab1a8556.5b6168","name":"","x":630,"y":60,"wires":[]},{"id":"aa6ea857.89dd48","type":"http response","z":"ab1a8556.5b6168","name":"","statusCode":"","headers":{},"x":650,"y":520,"wires":[]},{"id":"ca4f84b1.1f8db8","type":"template","z":"ab1a8556.5b6168","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    \n    <head>\n    <style>\nbody, html {\n  background-color: #e8e8e8;\n  width: 100%;\n  height: 100%;\n  margin: 0 auto;\n  font-family: \"HelveticaNeue-Light\", \"Helvetica Neue Light\", \"Helvetica Neue\", Helvetica, Arial, \"Lucida Grande\", sans-serif;\n  color: #000;\n}\n\n.content {\n  padding-left: 5vw;\n  padding-right: 5vw;\n}\n\n.header {\n  background-color: #785589;\n  padding-top: 5vh;\n  padding-left: 5vw;\n  padding-bottom: 2vh;\n  margin-bottom: 2vh;\n  box-shadow: 0px 1px 5px 2px #785589;\n}\n\n.title {\n  color: #fff;\n  font-size: calc(34pt + 1.5vw);\n}\n\n.uploadedImages {\n  display: flex;\n  align-items: flex-start;\n  flex-direction: row;\n  flex-wrap: wrap;\n  padding-left: 5vw;\n}\n\n.uploadedImage {\n  height: auto;\n  max-width: 300px;\n}\n\n.imageHolder {\n  text-align: center;\n}\n\n.imageSection {\n  padding: 25px;\n  margin-right: 25px;\n  margin-bottom: 25px;\n  max-width: fit-content;\n  background-color: #a98ca4;\n  border-radius: 15px;\n  box-shadow: 0px 1px 10px 0px #a98ca4;\n}\n\n.imageLabels {\n  display: flex;\n  flex-wrap: wrap;\n}\n\n.imageLabel {\n    \n    padding: 25px;\n    margin-right: 25px;\n    margin-bottom: 25px;\n    margin: 3px;\n    background: #cda9a9;\n    color: #000;\n    font-size: 12pt;\n    border-radius: 6px;\n    max-width: fit-content;\n}\n\n.uploadSection {\n  /* display: flex; */\n  /* align-items: center;\n  flex-wrap: wrap;\n  max-width: 500px;\n  border: 1px solid;\n  border-radius: 20px;\n  margin-bottom: 2vh; */\n  padding-left: 5vw;\n}\n\n.uploadForm {\n  display: flex;\n  flex-direction: column;\n  align-items: flex-start;\n  max-width: 500px;\n  padding: 10px;\n}\n\n.selectImage {\n  width: 500px;\n  font-size: 12pt;\n  margin-bottom: 10px;\n}\n\n.uploadImage {\n  font-size: 12pt;\n  -webkit-border-radius: 28;\n  -moz-border-radius: 28;\n  border-radius: 28px;\n  color: #ffffff;\n  background: #c29fa0;\n  box-shadow: none;\n  border: 1px solid;\n  border-color: #c29fa0;\n  padding: 10px 20px 10px 20px;\n}\n\n.uploadImage:hover {\n  background: #ffffff;\n  color: #cda9a9;\n  border: 1px solid;\n  /* background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);\n  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);\n  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);\n  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);\n  background-image: linear-gradient(to bottom, #3cb0fd, #3498db); */\n}\n\n.uploadImage:active {\n  background: #cda9a9;\n  color: #fff;\n  border: 1px solid;\n  border-color: #c29fa0;\n  /* background-image: -webkit-linear-gradient(top, #3cb0dd, #3cb0dd);\n  background-image: -moz-linear-gradient(top, #3cb0dd, #3cb0dd);\n  background-image: -ms-linear-gradient(top, #3cb0dd, #3cb0dd);\n  background-image: -o-linear-gradient(top, #3cb0dd, #3cb0dd);\n  background-image: linear-gradient(to bottom, #3cb0dd, #3cb0dd); */\n}\n\n.triggerLabel {\n    \n    \n    color: #d60000; \n}\n\n\n</style>\n</head>\n\n    <body>\n        \n        <!-- Header -->\n  <div class=\"header\">\n    <div class=\"title\">\n      Image Analysed!\n    </div>\n  </div>\n\n<center> \n<!-- Content of page -->\n  \n\n<pre class=\"imageSection\">\n    \n{{{payload}}}\n</pre>\n\n<h4>Classification results:</h4>\n\n\n  \n<p class=\"imageLabel\">{{verbal}}</p>\n\n<h1 class=\"triggerLabel\">{{action}}</h1>\n</center>\n\n<script>\n</script>\n\n</body>\n</html>","output":"str","x":420,"y":520,"wires":[["aa6ea857.89dd48"]]},{"id":"5ea7567d.adee18","type":"function","z":"ab1a8556.5b6168","name":"process image output","func":"if (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.payload.toString('base64')}\">`;\n} else {\n    msg.payload = msg.payload.toString();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":400,"wires":[["ca4f84b1.1f8db8","5581dab5.e97974"]]},{"id":"6a523dfe.0af864","type":"http in","z":"ab1a8556.5b6168","name":"","url":"/uploadsimple_post","method":"post","upload":true,"swaggerDoc":"","x":130,"y":200,"wires":[["e46061a1.45c02"]]},{"id":"e46061a1.45c02","type":"change","z":"ab1a8556.5b6168","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":280,"wires":[["2a597d49.ac72e2"]]},{"id":"2a597d49.ac72e2","type":"visual-recognition-v3","z":"ab1a8556.5b6168","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":370,"y":280,"wires":[["9499222f.24a4","35e3d990.b08ac6"]]},{"id":"2547ddd7.d80472","type":"function","z":"ab1a8556.5b6168","name":"trigger action","func":"if (msg.verbal.includes(\"fire\")){\n    msg.action=\"Fire Detected:Triggering Fire rescue\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":400,"wires":[["5ea7567d.adee18"]]},{"id":"5581dab5.e97974","type":"switch","z":"ab1a8556.5b6168","name":"","property":"action","propertyType":"msg","rules":[{"t":"cont","v":"Fire","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":340,"wires":[["24dc1aa9.0f6f56"]]},{"id":"24dc1aa9.0f6f56","type":"function","z":"ab1a8556.5b6168","name":"","func":"var msg;\nmsg.payload=\"1\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":340,"wires":[["d6cc8d4f.4c1f5"]]},{"id":"d6cc8d4f.4c1f5","type":"debug","z":"ab1a8556.5b6168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":280,"wires":[]},{"id":"35e3d990.b08ac6","type":"debug","z":"ab1a8556.5b6168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":240,"wires":[]},{"id":"c3760a40.eee828","type":"debug","z":"ab1a8556.5b6168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":110,"y":460,"wires":[]}]
